//Список шрифтов
$font_list: Roboto-Regular;

//Путь к папке со шрифтами
$font_rout: "../fonts/";

//Цвета
$white: #ffffff;

$sizes: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1251px,
);
